@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #27ae60;
    min-height: 100vh;
}

.jumbotron {
    max-width: 700px;
    width: 700px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 20px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.container .display-3 {
    position: relative;
    color: #2c3e50;
}

.container .display-3::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 3px;
    background: #34495e;
}
.container i{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2c3e50;
}

.container .lead{
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    color: #e74c3c;
    font-weight: 900;
}

form {
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

input{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 1s all;
}

input:focus {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container .btn{
    display: inline;
    position: relative;
    padding: 8px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    text-decoration: none;
    color: #34495e;
    font-weight: 700;
    font-size: 18px;
    margin: 20px 0;
    display: inline-block;
    transition: 1s all;
}

.container .btn:hover{
    background: #34495e;
    color: #27ae60;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 15px;
}
